 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Mobile Development is my passion! I am a self-motivated mobile software engineer with over six years of experience designing and developing iOS applicatons in Swift and Objective-C.</p>
                </div>
                <div class="col-lg-4">
                    <p>My main objective is to materialize idea to a fully functional robust mobile application. I possess rich experience in project development life cycle phaes and agile methologies. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                -->
                    <h3>My Skills:</h3>
                    Swift, Objective-C<br />
                    XCode, Instruments, Jenkins, Cocoapods, Carthage<br />
                    Git, SVN</li>
                </div>
            </div>
        </div>
    </section>
